@CHARSET "UTF-8";

.content-frame {
    float: left;
    width: 100%;
    position: relative;
    background: #f5f5f5;
}
.content-frame .content-frame-left {
    float: left;
    width: 300px !important;
    padding: 10px;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.02);
    border-right: 1px solid #DDD;
}
.content-frame .content-frame-body {
    padding: 0px 10px 10px 50px;
    margin-left: 300px;
}


<!-- 左侧  -->
.content-frame .content-frame-left > .form-group {
    margin-bottom: 20px;
}

textarea.form-control {
    height: auto;
}

.push-down-10 {
    margin-bottom: 10px !important;
}









<!-- 右侧 -->

.tasks {
    float: left;
    width: 100%;
}
.tasks .task-item.task-primary {
    border-left-color: #1b1e24;
}
.tasks .task-item.task-success {
    border-left-color: #25da25;
}
.tasks .task-item.task-warning {
    border-left-color: #ff8000;
}
.tasks .task-item.task-danger {
    border-left-color: #E04B4A;
}
.tasks .task-item.task-info {
    border-left-color: #1caf9a;
}
.tasks .task-item {
    width: 100%;
    float: left;
    padding: 0px;
    background: #FFF;
    border-left: 3px solid #FFF;
    margin-bottom: 10px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.tasks .task-item .task-text {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
}
.tasks .task-item .task-footer {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #AAA;
    line-height: 20px;
    padding: 10px;
    background: #F5F5F5;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}

