    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      /*height: 100%;*/
      background-color: #eee;
      font-family: 'Raleway';
    }
    ul{

    }
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .glyphicon{
        margin-right: 10px;
    }
    #wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
          -ms-flex-pack: left;
              justify-content: left;
      overflow: hidden;
    }

    #left-side {
      height: 100%;
      width: 15%;
    }

    #left-side ul {
        margin-top:30%;
    }

    #left-side ul li {
      padding-top: 10px;
      padding-left:30%;
      padding-bottom: 10px;
      display: flex;
      line-height: 85px;
      color: rgba(51, 51, 51, 0.5);
      font-weight: 500;
      font-size:20px;
      cursor: pointer;
      -webkit-transition: all .2s ease-out;
              transition: all .2s ease-out;
    }
    #left-side ul li:hover {
      color: #333333;
      -webkit-transition: all .2s ease-out;
              transition: all .2s ease-out;
    }
    #left-side ul li:hover > .icon {
      fill: #333;
    }
    #left-side ul li.active {
      color: #333333;
    }
    #left-side ul li.active:hover > .icon {
      fill: #E74C3C;
    }

    #border {
      height: 90%;
      margin-top:2%;
      width: 1px;
      background-color: #1caf9a;
    }

    #right-side {
      height: 99%;
      width: 85%;
      position: relative;
      padding: 0;
      border-left: 30px solid transparent;
      overflow: auto;
    }
    #right-side #adnLine, #right-side #telData, #right-side #spreadConfig, #right-side #recordParam,#right-side #ctiType {
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
      margin-top: -105%;
      opacity: 0;
    }
    #right-side #adnLine h1, #right-side #telData h1, #right-side #spreadConfig h1, #right-side #recordParam h1,#right-side #ctiType h1 {
      font-weight: 800;
      color: #333;
    }
    #right-side #adnLine p, #right-side #telData p, #right-side #spreadConfig p, #right-side #recordParam p,#right-side #ctiType p {
      color: #333;
      font-weight: 500;
      padding-left: 30px;
      padding-right: 30px;
    }
    #right-side #adnLine.active, #right-side #telData.active, #right-side #spreadConfig.active, #right-side #recordParam.active,#right-side #ctiType.active {
      margin-top: 0px;
      opacity: 1;
      -webkit-transition: all .6s ease-in-out;
              transition: all .6s ease-in-out;
    }
     #left-side .adnLineTabLi.active, #left-side .telDataTabLi.active, #left-side .spreadConfigTabLi.active, #left-side .recordParamTabLi.active,#left-side .ctiTypeTabLi.active {
        color:#1caf9a;
    }

/* item样式 */
.tabContent .col-sm-4 {
    width:45% !important;
    height: 11% !important;
    margin-top: 1%;
}
 .task-item {
    width: 100%;
    height: 100%;
    float: left;
    padding: 0px;
    background: #FFF;
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
    border-top: 3px solid #FFF;
    margin-bottom: 10px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.task-item .titleContent{
    height:65%;
}
 .task-item.task-primary {
    border-left-color: #1caf9a;
    border-top-color: #1caf9a;
    border-right-color: #1caf9a;
}

 .task-item .task-text {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.task-item .task-footer {
    float: left;
    width: 100%;
    height:35%;
    font-size: 20px;
    line-height: 0px;
    padding: 5px;
    background: #1caf9a;
    color: white;
}
.task-item .task-footer select{
  background-color:#1caf9a;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}


@media screen and (max-width:1300px) {
    .tabContent .col-sm-4 {
        width:45% !important;
        height: 14% !important;
        margin-top: 1% !important;
        font-size: 16px;
    }
    .task-item .task-footer {
      font-size: 16px;
      padding: 10px;
  }
    #left-side ul li {
      font-size: 10px;
    }
    #left-side ul li{
          font-size: 18px;
          padding-left: 15%;
    }
}






