#chat {
	overflow: hidden;
	width:100%;
	height: 100%;
}
#chat .sidebar {
	float: left;
	width: 300px;
	color: #555;
	background-color: #e4e4e4;
	overflow: hidden;
}
#chat .sidebar-left {
	float: left;
	width: 60px;
	color: #f4f4f4;
	background-color: #26292d;
}
#chat .main, #chat .sidebar ,#chat .sidebar-left{
	height: 100%;
}
div {
	display: block;
}
.m-card {
	padding: 3px;
}
.m-card .avatar {
	border-radius: 2px;
}
.m-card .avatar, .m-card .name {
	vertical-align: middle;
}
.m-card .name {
	display: inline-block;
	margin: 0 0 0 15px;
	font-size: 1pc;
}
.m-card .avatar, .m-card .name {
	vertical-align: middle;
}
ul {
	list-style: none;
}
body, ul {
	margin: 0;
	padding: 0;
}
.m-list{
	overflow-y:auto;
	overflow-x: hidden;
}
.m-list li {
	height:65px;
	padding:9pt 5px 9pt 3px;
	border-bottom: none;
	cursor: pointer;
	-webkit-transition: background-color .1s;
	transition: background-color .1s;
}
.m-list li.active {
	background-color: #ccc;
}
.m-list .avatar {
	border-radius: 2px;
	margin-left: 5px;
}
.m-list .avatar, .m-list .name {
	vertical-align: middle;
	width:70%;
}
.m-list .name {
	display: inline-block;
	margin: 0;
	width: calc(70% - 13px);
}
.m-list .name-span {
	float: left;
    max-width: 70%;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#chat .main {
	position: relative;
	overflow: hidden;
	background-color: rgba(238, 238, 238, 0.2);
	float: left;
	z-index: 1;
}
.main-show{
	float:left;
	width: 100%;
}
.main-hide{
	display:none;
	width: 100% !important;
	float:left;
}
.m-message,.m-detail {
	height: calc(100% - 15pc);
}
.m-message ,.m-detail {
	padding: 10px 15px;
	overflow-y: auto;
}
.m-message::-webkit-scrollbar {width:6px;}
.m-message::-webkit-scrollbar-thumb {background-color:rgba(39, 58, 74,0.5);}
.m-message li {
	margin-bottom: 15px;
	display: inline-block;
    width: 100%;
}
.m-message .time {
	margin: 7px 0;
	text-align: center;
}
.main {
	position: relative;
	overflow: hidden;
	background-color: #eee;
}
.main,  .sidebar {
	height: 100%;
}
.m-message .self {
	text-align: right;
}
.m-message .self .avatar {
	float: right;
	margin: 0 0 0 10px;
}
.m-message .avatar {
	float: left;
	margin: 0 10px 0 0;
	border-radius: 3px;
}
.m-message .self .text {
	background-color: #b2e281;
}
.m-text {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
.m-text {
	height: 10pc;
	border-top: 1px solid #ddd;
	background-color:#f5f5f5;
}
.m-text .textarea {
	padding: 10px;
	height: 60%;
	width: 96%;
	border: none;
	outline: 0;
	font-family: Micrsofot Yahei;
	resize: none;
	margin:0 10px;
}
.m-message .text {
	display: inline-block;
	position: relative;
	padding: 0;
	max-width: 70%;
	min-height: 30px;
	line-height: 2;
	font-size: 10.5pt;
	text-align: left;
	word-break: break-all;
	background-color: #fafafa;
	border-radius: 4px;
	float:left;
	margin-top: 3px;
}
.m-message .text-spacial {
    
}
.weixin-pure-text {
	padding:0 10px !important;
	border:1px solid #e4e4e4;
}
.m-message .text.weixin-pure-text:before, .m-message .text.weixin-pure-text:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-width: 7px;
    left: -12px;
    top: 5px;
}
.m-message .text.weixin-pure-text:after {
	border-right-color: #fff;
	left: -10px;
}
.m-message .group-name {
	color: #aaa;
	font-size: 13px;
}
.self > .text, .self > .chat-solr {
	float:right;
}
.self > .text.weixin-pure-text:before, .self > .text.weixin-pure-text:after {
	border-color: #b2e281;
	border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 7px;
    left: 100%;
}
.text-spacial{
	color: #1ab394;
	font-weight: 600;
}
.m-card .search {
	padding: 0 20px;
	width: 100%;
	font-size: 9pt;
	color: #555;
	height: 30px;
	line-height: 30px;
	border: none;
	outline: 0;
	background-color: #dadada;
	padding-left: 25px;
	margin-left: 2px;
}
.m-list li:hover{
	background-color: #dadada;
}
.send-p{
	text-align:right;
	height:15%;
	width:100%;
	padding-right:20px;
}
.c-active{
	background-color: #26292e;
}
.db {
	display: block;
}

.weixinAudio {
	line-height: 1.5;
	cursor:pointer;
}

.audio_area {
	display: inline-block;
	width: 50px;
	vertical-align: top;
	margin: 0px 1px 0px 0;
	font-size: 0;
	position: relative;
	font-weight: 400;
	text-decoration: none;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

.audio_wrp {
	background-color: #fcfcfc;
	overflow: hidden;
	height: 30px;
}

.audio_wrp_out {
	background-color: #b2e281;
}
.audio_play_area {
	float: left;
	margin: 3px 5px 10px 5px;
	font-size: 0;
	width: 18px;
	height: 25px;
}

.playing .audio_play_area .icon_audio_default {
	display: block;
}

.audio_play_area .icon_audio_default {
	
	width: 18px;
	height: 25px;
	vertical-align: middle;
	display: inline-block;
	-webkit-background-size: 54px 25px;
	background-size: 54px 25px;
	background-position: -36px center;
}

.audio_play_area .icon_audio_playing {
	background: transparent url(img/iconloop.png) no-repeat 0 0;
	width: 18px;
	height: 25px;
	vertical-align: middle;
	display: inline-block;
	-webkit-background-size: 54px 25px;
	background-size: 54px 25px;
	-webkit-animation: audio_playing 1s infinite;
	background-position: 0px center;
	display: none;
}

.audio_area .pic_audio_default {
	display: none;
	width: 18px;
}

.tips_global {
	color: #8c8c8c;
}

.audio_area .audio_length {
	float: right;
	font-size: 14px;
	margin-top: 3px;
}

.audio_info_area {
	overflow: hidden;
}

.audio_area .audio_title {
	font-weight: 400;
	font-size: 17px;
	margin-top: -2px;
	margin-bottom: -3px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

.audio_area .audio_source {
	font-size: 14px;
}

.audio_area .progress_bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #0cbb08;
	height: 2px;
}

.playing .audio_play_area .icon_audio_default {
	display: none;
}

.playing .audio_play_area .icon_audio_playing {
	display: inline-block;
}

@-webkit-keyframes audio_playing {
	20% {
		background-position: -4px center;
	}
	21% {
		background-position: -24px center;
	}
	40% {
		background-position: -24px center;
	}
	41% {
		background-position: -40px center;
	}
	60% {
		background-position: -40px center;
	}
	61% {
		background-position: -56px center;
	}
	100% {
		background-position: -56px center;
	}
}
p{
	margin:0;
}
.jt-weixin-li{
	width:250px;
}
.last-content{
	color:#aaa;
	width:110px;
	height:28px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;
}
.draft-content{
	color:#aaa;
	display:none;
	max-width:100px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wx-set-star{
	cursor:pointer;
	text-decoration:underline !important;
}
.wx-set-star-right{
	float:right;
	margin-left: 10px !important;
}
.wx-set-star-left{
	float:left;
	margin-right: 10px !important;
}
.wx-set-star-checked{
	color:#ff8000
}
.has-in-weixin{
	color:green;
	font-size:11px;
}
.jt-is-repeat{
	color:red;
	font-size:11px;
}
.has-not-in-weixin{
	color:red;
	font-size:11px;
}
.has-not-inline-weixin{
	color:#aaa;
	font-size:11px;
}
.jt-weixin-sendMsgBtn{
	background-color:#fff;
	color: #222;
	padding-left: 30px;
	padding-right: 30px;
}
.jt-weixin-history{
	float:right;
	margin-right:20px;
	background: url(/t9-ecm/img/jt/wx/images/jilu.png) no-repeat;
	width:25px;
	height:25px;
}
.jt-weixin-history:hover{
	border:1px solid #999;
}
.jt-weixin-history.on{
	border:1px solid #999;
	background-color:#ccc;
}
.tabs-container .nav-tabs>li.active>a, .tabs-container .nav-tabs>li.active>a:focus, .tabs-container .nav-tabs>li.active>a:hover {
	border-bottom-color: transparent;
}
.jt-wx-label{
	margin:5px 8px;
	background-color: transparent;
	border-color: #8c8e8e;
	color: #8c8e8e !important;
}
.jt-wx-label:hover{
	color: #fff !important;
}
.batch-send-label{
	margin:5px 8px;
}
.jt-wx-label-selected{
	background-color: #8c8e8e;
	border-color: #8c8e8e;
	color: #FFF !important;
}
.batch-send-label-selected{
	background-color: #21b9bb;
	border-color: #21b9bb;
	color: #FFF !important;
}
.batch-send-person-num{
	color:red;
}
.jt-wx-label-selected[disabled]{
	color: #21b9bb !important;
}
.show-before-and-after{
	color: #333;
}
.history-text{
	margin: 0 0 5px 5px;
}
.time{
	text-align: center;
}
.my-wexin-list > div {
	position: relative;
}
.my-wexin-list .msg-not-read {
	position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding: 0 !important;
    margin: 0 !important;
    /* border: 1px solid #fff; */
    /*box-shadow: 0 0 10px red;*/
}
.weiXin-nav-tabs li {position: relative;}
.weiXin-nav-tabs .msg-not-read {
	position: absolute;
    top: -5px;
    right: -5px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding: 0 !important;
    margin: 0 !important;
    /* border: 1px solid #fff; */
    /*box-shadow: 0 0 10px red;*/
    z-index:99;
}
.m-list  .jt-head-pic-div {position: relative;}
.m-list .msg-not-read {
	position: absolute;
    top: -7px;
    right: 5px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding: 0 !important;
    margin: 0 !important;
    /* border: 1px solid #fff; */
    /*box-shadow: 0 0 10px red;*/
    z-index:99;
}
.nav-tabs>li>a {
	padding: 5px 5px;
}
.jt-head-pic-div{
	float: left;
	width: 60px;
}
.avatar{
	width:40px;
	height:40px;
}
.main .avatar{
	width:30px;
	height:30px;
}
.m-message  .text-add{
	width:250px;
}
.new-friend{
	border-bottom: 1px dotted #dedede;
	margin-bottom: 10px;
	padding: 0 7px;
}
.new-nick-name{
	font-weight:600;
}
.add-new-friend{
	padding-top: 6px;
	cursor: pointer;
}
.qq_face {
	overflow: auto;
	width:290px;
	margin-right: -1px;
}
.emoji_face {
	overflow: auto;
	width: 290px;
	margin-right: -1px;
}
.exp_hd {
	padding: 10px 0;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #acd;
}
.exp_bd{
	overflow: auto;
	background-color: #fff;
	height: 232px;
}
.exp_cont{
	display: none;
	overflow: hidden;
	padding: 15px 20px;
}
.qqface0{background-position:0 0 !important}
.qqface1{background-position:-29px 0 !important}
.qqface2{background-position:-58px 0 !important}
.qqface3{background-position:-87px 0 !important}
.qqface4{background-position:-116px 0 !important}
.qqface5{background-position:-145px 0 !important}
.qqface6{background-position:-174px 0 !important}
.qqface7{background-position:-203px 0 !important}
.qqface8{background-position:-232px 0 !important}
.qqface9{background-position:-261px 0 !important}
.qqface10{background-position:-290px 0 !important}
.qqface11{background-position:-319px 0 !important}
.qqface12{background-position:-348px 0 !important}
.qqface13{background-position:-377px 0 !important}
.qqface14{background-position:-406px 0 !important}
.qqface15{background-position:0 -29px !important}
.qqface16{background-position:-29px -29px !important}
.qqface17{background-position:-58px -29px !important}
.qqface18{background-position:-87px -29px !important}
.qqface19{background-position:-116px -29px !important}
.qqface20{background-position:-145px -29px !important}
.qqface21{background-position:-174px -29px !important}
.qqface22{background-position:-203px -29px !important}
.qqface23{background-position:-232px -29px !important}
.qqface24{background-position:-261px -29px !important}
.qqface25{background-position:-290px -29px !important}
.qqface26{background-position:-319px -29px !important}
.qqface27{background-position:-348px -29px !important}
.qqface28{background-position:-377px -29px !important}
.qqface29{background-position:-406px -29px !important}
.qqface30{background-position:0 -58px !important}
.qqface31{background-position:-29px -58px !important}
.qqface32{background-position:-58px -58px !important}
.qqface33{background-position:-87px -58px !important}
.qqface34{background-position:-116px -58px !important}
.qqface35{background-position:-145px -58px !important}
.qqface36{background-position:-174px -58px !important}
.qqface37{background-position:-203px -58px !important}
.qqface38{background-position:-232px -58px !important}
.qqface39{background-position:-261px -58px !important}
.qqface40{background-position:-290px -58px !important}
.qqface41{background-position:-319px -58px !important}
.qqface42{background-position:-348px -58px !important}
.qqface43{background-position:-377px -58px !important}
.qqface44{background-position:-406px -58px !important}
.qqface45{background-position:0 -87px !important}
.qqface46{background-position:-29px -87px !important}
.qqface47{background-position:-58px -87px !important}
.qqface48{background-position:-87px -87px !important}
.qqface49{background-position:-116px -87px !important}
.qqface50{background-position:-145px -87px !important}
.qqface51{background-position:-174px -87px !important}
.qqface52{background-position:-203px -87px !important}
.qqface53{background-position:-232px -87px !important}
.qqface54{background-position:-261px -87px !important}
.qqface55{background-position:-290px -87px !important}
.qqface56{background-position:-319px -87px !important}
.qqface57{background-position:-348px -87px !important}
.qqface58{background-position:-377px -87px !important}
.qqface59{background-position:-406px -87px !important}
.qqface60{background-position:0 -116px !important}
.qqface61{background-position:-29px -116px !important}
.qqface62{background-position:-58px -116px !important}
.qqface63{background-position:-87px -116px !important}
.qqface64{background-position:-116px -116px !important}
.qqface65{background-position:-145px -116px !important}
.qqface66{background-position:-174px -116px !important}
.qqface67{background-position:-203px -116px !important}
.qqface68{background-position:-232px -116px !important}
.qqface69{background-position:-261px -116px !important}
.qqface70{background-position:-290px -116px !important}
.qqface71{background-position:-319px -116px !important}
.qqface72{background-position:-348px -116px !important}
.qqface73{background-position:-377px -116px !important}
.qqface74{background-position:-406px -116px !important}
.qqface75{background-position:0 -145px !important}
.qqface76{background-position:-29px -145px !important}
.qqface77{background-position:-58px -145px !important}
.qqface78{background-position:-87px -145px !important}
.qqface79{background-position:-116px -145px !important}
.qqface80{background-position:-145px -145px !important}
.qqface81{background-position:-174px -145px !important}
.qqface82{background-position:-203px -145px !important}
.qqface83{background-position:-232px -145px !important}
.qqface84{background-position:-261px -145px !important}
.qqface85{background-position:-290px -145px !important}
.qqface86{background-position:-319px -145px !important}
.qqface87{background-position:-348px -145px !important}
.qqface88{background-position:-377px -145px !important}
.qqface89{background-position:-406px -145px !important}
.qqface90{background-position:0 -174px !important}
.qqface91{background-position:-29px -174px !important}
.qqface92{background-position:-58px -174px !important}
.qqface93{background-position:-87px -174px !important}
.qqface94{background-position:-116px -174px !important}
.qqface95{background-position:-145px -174px !important}
.qqface96{background-position:-174px -174px !important}
.qqface97{background-position:-203px -174px !important}
.qqface98{background-position:-232px -174px !important}
.qqface99{background-position:-261px -174px !important}
.qqface100{background-position:-290px -174px !important}
.qqface101{background-position:-319px -174px !important}
.qqface102{background-position:-348px -174px !important}
.qqface103{background-position:-377px -174px !important}
.qqface104{background-position:-406px -174px !important}
.emoji0{background-position:2px 2px !important}
.emoji1{background-position:-30px 2px !important}
.emoji2{background-position:-62px 2px !important}
.emoji3{background-position:-94px 2px !important}
.emoji4{background-position:-126px 2px !important}
.emoji5{background-position:-158px 2px !important}
.emoji6{background-position:-190px 2px !important}
.emoji7{background-position:-222px 2px !important}
.emoji8{background-position:-254px 2px !important}
.emoji9{background-position:-286px 2px !important}
.emoji10{background-position:-318px 2px !important}
.emoji11{background-position:-350px 2px !important}
.emoji12{background-position:-382px 2px !important}
.emoji13{background-position:-414px 2px !important}
.emoji14{background-position:-446px 2px !important}
.emoji15{background-position:2px -30px !important}
.emoji16{background-position:-30px -30px !important}
.emoji17{background-position:-62px -30px !important}
.emoji18{background-position:-94px -30px !important}
.emoji19{background-position:-126px -30px !important}
.emoji20{background-position:-158px -30px !important}
.emoji21{background-position:-190px -30px !important}
.emoji22{background-position:-222px -30px !important}
.emoji23{background-position:-254px -30px !important}
.emoji24{background-position:-286px -30px !important}
.emoji25{background-position:-318px -30px !important}
.emoji26{background-position:-350px -30px !important}
.emoji27{background-position:-382px -30px !important}
.emoji28{background-position:-414px -30px !important}
.emoji29{background-position:-446px -30px !important}
.emoji30{background-position:2px -62px !important}
.emoji31{background-position:-30px -62px !important}
.emoji32{background-position:-62px -62px !important}
.emoji33{background-position:-94px -62px !important}
.emoji34{background-position:-126px -62px !important}
.emoji35{background-position:-158px -62px !important}
.emoji36{background-position:-190px -62px !important}
.emoji37{background-position:-222px -62px !important}
.emoji38{background-position:-254px -62px !important}
.emoji39{background-position:-286px -62px !important}
.emoji40{background-position:-318px -62px !important}
.emoji41{background-position:-350px -62px !important}
.emoji42{background-position:-382px -62px !important}
.emoji43{background-position:-414px -62px !important}
.emoji44{background-position:-446px -62px !important}
.emoji45{background-position:2px -94px !important}
.emoji46{background-position:-30px -94px !important}
.emoji47{background-position:-62px -94px !important}
.emoji48{background-position:-94px -94px !important}
.emoji49{background-position:-126px -94px !important}
.emoji50{background-position:-158px -94px !important}
.emoji51{background-position:-190px -94px !important}
.emoji52{background-position:-222px -94px !important}
.emoji53{background-position:-254px -94px !important}
.emoji54{background-position:-286px -94px !important}
.emoji55{background-position:-318px -94px !important}
.emoji56{background-position:-350px -94px !important}
.emoji57{background-position:-382px -94px !important}
.emoji58{background-position:-414px -94px !important}
.emoji59{background-position:-446px -94px !important}
.emoji60{background-position:2px -126px !important}
.emoji61{background-position:-30px -126px !important}
.emoji62{background-position:-62px -126px !important}
.emoji63{background-position:-94px -126px !important}
.emoji64{background-position:-126px -126px !important}
.emoji65{background-position:-158px -126px !important}
.emoji66{background-position:-190px -126px !important}
.emoji67{background-position:-222px -126px !important}
.emoji68{background-position:-254px -126px !important}
.emoji69{background-position:-286px -126px !important}
.emoji70{background-position:-318px -126px !important}
.emoji71{background-position:-350px -126px !important}
.emoji72{background-position:-382px -126px !important}
.emoji73{background-position:-414px -126px !important}
.emoji74{background-position:-446px -126px !important}
.emoji75{background-position:2px -158px !important}
.emoji76{background-position:-30px -158px !important}
.emoji77{background-position:-62px -158px !important}
.emoji78{background-position:-94px -158px !important}
.emoji79{background-position:-126px -158px !important}
.emoji80{background-position:-158px -158px !important}
.emoji81{background-position:-190px -158px !important}
.emoji82{background-position:-222px -158px !important}
.emoji83{background-position:-254px -158px !important}
.emoji84{background-position:-286px -158px !important}
.emoji85{background-position:-318px -158px !important}
.emoji86{background-position:-350px -158px !important}
.emoji87{background-position:-382px -158px !important}
.emoji88{background-position:-414px -158px !important}
.emoji89{background-position:-446px -158px !important}
.emoji90{background-position:2px -190px !important}
.emoji91{background-position:-30px -190px !important}
.emoji92{background-position:-62px -190px !important}
.emoji93{background-position:-94px -190px !important}
.emoji94{background-position:-126px -190px !important}
.emoji95{background-position:-158px -190px !important}
.emoji96{background-position:-190px -190px !important}
.emoji97{background-position:-222px -190px !important}
.emoji98{background-position:-254px -190px !important}
.emoji99{background-position:-286px -190px !important}
.emoji100{background-position:-318px -190px !important}
.emoji101{background-position:-350px -190px !important}
.emoji102{background-position:-382px -190px !important}
.emoji103{background-position:-414px -190px !important}
.emoji104{background-position:-446px -190px !important}
.emoji105{background-position:2px -222px !important}
.emoji106{background-position:-30px -222px !important}
.emoji107{background-position:-62px -222px !important}
.emoji108{background-position:-94px -222px !important}
.emoji109{background-position:-126px -222px !important}
.emoji110{background-position:-158px -222px !important}
.emoji111{background-position:-190px -222px !important}
.emoji112{background-position:-222px -222px !important}
.emoji113{background-position:-254px -222px !important}
.emoji114{background-position:-286px -222px !important}
.emoji115{background-position:-318px -222px !important}
.emoji116{background-position:-350px -222px !important}
.emoji117{background-position:-382px -222px !important}
.emoji118{background-position:-414px -222px !important}
.emoji119{background-position:-446px -222px !important}
.emoji120{background-position:2px -254px !important}
.emoji121{background-position:-30px -254px !important}
.emoji122{background-position:-62px -254px !important}
.emoji123{background-position:-94px -254px !important}
.emoji124{background-position:-126px -254px !important}
.emoji125{background-position:-158px -254px !important}
.emoji126{background-position:-190px -254px !important}
.emoji127{background-position:-222px -254px !important}
.emoji128{background-position:-254px -254px !important}
.emoji129{background-position:-286px -254px !important}
.emoji130{background-position:-318px -254px !important}
.emoji131{background-position:-350px -254px !important}
.emoji132{background-position:-382px -254px !important}
.emoji133{background-position:-414px -254px !important}
.emoji134{background-position:-446px -254px !important}
.emoji135{background-position:2px -286px !important}
.emoji136{background-position:-30px -286px !important}
.emoji137{background-position:-62px -286px !important}
.emoji138{background-position:-94px -286px !important}
.emoji139{background-position:-126px -286px !important}
.emoji140{background-position:-158px -286px !important}
.emoji141{background-position:-190px -286px !important}
.emoji142{background-position:-222px -286px !important}
.emoji143{background-position:-254px -286px !important}
.emoji144{background-position:-286px -286px !important}
.emoji145{background-position:-318px -286px !important}
.emoji146{background-position:-350px -286px !important}
.emoji147{background-position:-382px -286px !important}
.emoji148{background-position:-414px -286px !important}
.emoji149{background-position:-446px -286px !important}
.emoji150{background-position:2px -318px !important}
.emoji151{background-position:-30px -318px !important}
.emoji152{background-position:-62px -318px !important}
.emoji153{background-position:-94px -318px !important}
.emoji154{background-position:-126px -318px !important}
.emoji155{background-position:-158px -318px !important}
.emoji156{background-position:-190px -318px !important}
.emoji157{background-position:-222px -318px !important}
.emoji158{background-position:-254px -318px !important}
.emoji159{background-position:-286px -318px !important}
.emoji160{background-position:-318px -318px !important}
.emoji161{background-position:-350px -318px !important}
.emoji162{background-position:-382px -318px !important}
.emoji163{background-position:-414px -318px !important}
.emoji164{background-position:-446px -318px !important}
.emoji165{background-position:2px -350px !important}
.emoji166{background-position:-30px -350px !important}
.emoji167{background-position:-62px -350px !important}
.emoji168{background-position:-94px -350px !important}
.emoji169{background-position:-126px -350px !important}
.emoji170{background-position:-158px -350px !important}
.emoji171{background-position:-190px -350px !important}
.emoji172{background-position:-222px -350px !important}
.emoji173{background-position:-254px -350px !important}
.emoji174{background-position:-286px -350px !important}
.emoji175{background-position:-318px -350px !important}
.emoji176{background-position:-350px -350px !important}

.emoji1f604{background-position:2px 2px !important}
.emoji1f637{background-position:-30px 2px !important}
.emoji1f639{background-position:-62px 2px !important}
.emoji1f61d{background-position:-94px 2px !important}
.emoji1f633{background-position:-126px 2px !important}
.emoji1f631{background-position:-158px 2px !important}
.emoji1f64d{background-position:-190px 2px !important}
.emoji1f612{background-position:-222px 2px !important}
.emoji8{background-position:-254px 2px !important}
.emoji9{background-position:-286px 2px !important}
.emoji10{background-position:-318px 2px !important}
.emoji11{background-position:-350px 2px !important}
.emoji12{background-position:-382px 2px !important}
.emoji13{background-position:-414px 2px !important}
.emoji1f47b{background-position:-446px 2px !important}
.emoji1f64f{background-position:2px -30px !important}
.emoji1f4aa{background-position:-30px -30px !important}
.emoji1f389{background-position:-62px -30px !important}
.emoji1f4e6{background-position:-94px -30px !important}
.emoji19{background-position:-126px -30px !important}
.emoji20{background-position:-158px -30px !important}
.emoji1f60a{background-position:-190px -30px !important}
.emoji1f63a{background-position:-222px -30px !important}
.emoji263a{background-position:-254px -30px !important}
.emoji1f609{background-position:-286px -30px !important}
.emoji1f63b{background-position:-318px -30px !important}
.emoji1f63d{background-position:-350px -30px !important}
.emoji1f61a{background-position:-382px -30px !important}
.emoji1f63c{background-position:-414px -30px !important}
.emoji1f60c{background-position:-446px -30px !important}
.emoji1f61c{background-position:2px -62px !important}
.emoji1f60f{background-position:-30px -62px !important}
.emoji1f613{background-position:-62px -62px !important}
.emoji1f61e{background-position:-94px -62px !important}
.emoji1f4ab{background-position:-126px -62px !important}
.emoji1f625{background-position:-158px -62px !important}
.emoji1f630{background-position:-190px -62px !important}
.emoji1f628{background-position:-222px -62px !important}
.emoji1f62b{background-position:-254px -62px !important}
.emoji1f63f{background-position:-286px -62px !important}
.emoji1f62d{background-position:-318px -62px !important}
.emoji1f632{background-position:-350px -62px !important}
.emoji1f620{background-position:-382px -62px !important}
.emoji1f64e{background-position:-414px -62px !important}
.emoji1f62a{background-position:-446px -62px !important}
.emoji1f47f{background-position:2px -94px !important}
.emoji1f47d{background-position:-30px -94px !important}
.emoji2764{background-position:-62px -94px !important}
.emoji1f494{background-position:-94px -94px !important}
.emoji1f498{background-position:-126px -94px !important}
.emoji2747{background-position:-158px -94px !important}
.emoji1f31f{background-position:-190px -94px !important}
.emoji2755{background-position:-222px -94px !important}
.emoji2754{background-position:-254px -94px !important}
.emoji1f4a4{background-position:-286px -94px !important}
.emoji1f4a7{background-position:-318px -94px !important}
.emoji1f3b5{background-position:-350px -94px !important}
.emoji1f525{background-position:-382px -94px !important}
.emoji1f4a9{background-position:-414px -94px !important}
.emoji1f44d{background-position:-446px -94px !important}
.emoji1f44e{background-position:2px -126px !important}
.emoji1f44a{background-position:-30px -126px !important}
.emoji270c{background-position:-62px -126px !important}
.emoji1f446{background-position:-94px -126px !important}
.emoji1f447{background-position:-126px -126px !important}
.emoji1f449{background-position:-158px -126px !important}
.emoji1f448{background-position:-190px -126px !important}
.emoji261d{background-position:-222px -126px !important}
.emoji1f48f{background-position:-254px -126px !important}
.emoji1f491{background-position:-286px -126px !important}
.emoji1f466{background-position:-318px -126px !important}
.emoji1f467{background-position:-350px -126px !important}
.emoji1f469{background-position:-382px -126px !important}
.emoji1f468{background-position:-414px -126px !important}
.emoji1f47c{background-position:-446px -126px !important}
.emoji1f480{background-position:2px -158px !important}
.emoji1f48b{background-position:-30px -158px !important}
.emoji2600{background-position:-62px -158px !important}
.emoji2614{background-position:-94px -158px !important}
.emoji2601{background-position:-126px -158px !important}
.emoji26c4{background-position:-158px -158px !important}
.emoji1f31b{background-position:-190px -158px !important}
.emoji26a1{background-position:-222px -158px !important}
.emoji1f30a{background-position:-254px -158px !important}
.emoji1f431{background-position:-286px -158px !important}
.emoji1f436{background-position:-318px -158px !important}
.emoji1f42d{background-position:-350px -158px !important}
.emoji1f439{background-position:-382px -158px !important}
.emoji1f430{background-position:-414px -158px !important}
.emoji1f43a{background-position:-446px -158px !important}
.emoji1f438{background-position:2px -190px !important}
.emoji1f42f{background-position:-30px -190px !important}
.emoji1f428{background-position:-62px -190px !important}
.emoji1f43b{background-position:-94px -190px !important}
.emoji1f43d{background-position:-126px -190px !important}
.emoji1f42e{background-position:-158px -190px !important}
.emoji1f417{background-position:-190px -190px !important}
.emoji1f435{background-position:-222px -190px !important}
.emoji1f434{background-position:-254px -190px !important}
.emoji1f40d{background-position:-286px -190px !important}
.emoji1f426{background-position:-318px -190px !important}
.emoji1f414{background-position:-350px -190px !important}
.emoji1f427{background-position:-382px -190px !important}
.emoji1f41b{background-position:-414px -190px !important}
.emoji1f419{background-position:-446px -190px !important}
.emoji1f420{background-position:2px -222px !important}
.emoji1f433{background-position:-30px -222px !important}
.emoji1f42c{background-position:-62px -222px !important}
.emoji1f339{background-position:-94px -222px !important}
.emoji1f33a{background-position:-126px -222px !important}
.emoji1f334{background-position:-158px -222px !important}
.emoji1f335{background-position:-190px -222px !important}
.emoji1f49d{background-position:-222px -222px !important}
.emoji1f383{background-position:-254px -222px !important}
.emoji1f385{background-position:-286px -222px !important}
.emoji1f384{background-position:-318px -222px !important}
.emoji1f514{background-position:-350px -222px !important}
.emoji1f388{background-position:-382px -222px !important}
.emoji1f4bf{background-position:-414px -222px !important}
.emoji1f4f7{background-position:-446px -222px !important}
.emoji1f4f9{background-position:2px -254px !important}
.emoji1f4bb{background-position:-30px -254px !important}
.emoji1f4fa{background-position:-62px -254px !important}
.emoji1f4de{background-position:-94px -254px !important}
.emoji1f513{background-position:-126px -254px !important}
.emoji1f510{background-position:-158px -254px !important}
.emoji1f511{background-position:-190px -254px !important}
.emoji1f528{background-position:-222px -254px !important}
.emoji1f4a1{background-position:-254px -254px !important}
.emoji1f4eb{background-position:-286px -254px !important}
.emoji1f6c0{background-position:-318px -254px !important}
.emoji1f4b5{background-position:-350px -254px !important}
.emoji1f4a3{background-position:-382px -254px !important}
.emoji1f52b{background-position:-414px -254px !important}
.emoji1f48a{background-position:-446px -254px !important}
.emoji1f3c8{background-position:2px -286px !important}
.emoji1f3c0{background-position:-30px -286px !important}
.emoji26bd{background-position:-62px -286px !important}
.emoji26be{background-position:-94px -286px !important}
.emoji26f3{background-position:-126px -286px !important}
.emoji1f3c6{background-position:-158px -286px !important}
.emoji1f47e{background-position:-190px -286px !important}
.emoji1f3a4{background-position:-222px -286px !important}
.emoji1f3b8{background-position:-254px -286px !important}
.emoji1f459{background-position:-286px -286px !important}
.emoji1f451{background-position:-318px -286px !important}
.emoji1f302{background-position:-350px -286px !important}
.emoji1f45c{background-position:-382px -286px !important}
.emoji1f484{background-position:-414px -286px !important}
.emoji1f48d{background-position:-446px -286px !important}
.emoji1f48e{background-position:2px -318px !important}
.emoji2615{background-position:-30px -318px !important}
.emoji1f37a{background-position:-62px -318px !important}
.emoji1f37b{background-position:-94px -318px !important}
.emoji1f379{background-position:-126px -318px !important}
.emoji1f354{background-position:-158px -318px !important}
.emoji1f35f{background-position:-190px -318px !important}
.emoji1f35d{background-position:-222px -318px !important}
.emoji1f363{background-position:-254px -318px !important}
.emoji1f35c{background-position:-286px -318px !important}
.emoji1f373{background-position:-318px -318px !important}
.emoji1f366{background-position:-350px -318px !important}
.emoji1f382{background-position:-382px -318px !important}
.emoji1f34f{background-position:-414px -318px !important}
.emoji2708{background-position:-446px -318px !important}
.emoji1f680{background-position:2px -350px !important}
.emoji1f6b2{background-position:-30px -350px !important}
.emoji1f684{background-position:-62px -350px !important}
.emoji26a0{background-position:-94px -350px !important}
.emoji1f3c1{background-position:-126px -350px !important}
.emoji1f6b9{background-position:-158px -350px !important}
.emoji1f6ba{background-position:-190px -350px !important}
.emoji2b55{background-position:-222px -350px !important}
.emoji2716{background-position:-254px -350px !important}
.emojia9{background-position:-286px -350px !important}
.emojiae{background-position:-318px -350px !important}
.emoji2122{background-position:-350px -350px !important}
.face-image{
	width:60px;
	heigth:60px;
	margin:3px;
	padding:2px;
	cursor:pointer;
}
.face-image:hover{
	border:1px solid #23c6c8;
}
.msg-revoke{
	color: #1caf9a;
    font-size: 10px;
    display: block;
    width: 50px;
    height: 20px;
    float: right;
    text-align: center;
    line-height: 20px;
    background: #d7e5e5;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 5px;
}
#msg-button-div,#image-button-div,#my-image-button-div,#more-button-div,#li-contextmenu{
	width:50px;
	position:absolute;
	z-index:29891015;
	display:none;
	background-color:#fff;
	text-align: center;
	line-height: 30px;
}
#msg-button-div .btn{
	margin:5px;
}
.more-info{
	display:none;
	text-align:center;
	top:34px;
	position:absolute;
	background-color:#eee;
	width:100%;
	z-index:300000;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
}
.my-wexin-list > div > div {
	border-radius: 25px;
	overflow:  hidden;
	height: 50px;
	width: 50px;
	margin: 7px auto 3.5px auto;
	position: relative;
}
.jt-employee-wx-img{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	cursor: pointer;
}
.current-opt-employee > div {
	border: 2px solid #1caf9a;
	box-shadow: 0 0 35px #1caf9a;
}
.jt-employee-wx-img.on{
	background-color:rgba(236, 176, 40, 0.78);;
}
.jt-wx-leave{
	position: relative;
	margin-left:-20px;
	margin-top: -48px;
	color: #ed5565;
}
.jt-employee-wx-img.gray, .avatar.gray{       
	-webkit-filter: grayscale(100%);     
	-moz-filter: grayscale(100%);    
	-ms-filter: grayscale(100%);     
	-o-filter: grayscale(100%);       
	filter: grayscale(100%);          
	filter: gray; 
}
.attach {
	padding: 10px;
	background-color: #fff;
	min-height: 75px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	min-width: 250px;
	max-width: 300px;
	margin: 2px;
	position: relative;
	margin: 0 auto;
	border: 1px solid #1caf9a;
}
.history-message-box .attach{
	margin-left: 0;
}
.cover {
	display: table-cell;
	padding-right: 10px;
}
.cont {
	display: table-cell;
	vertical-align: top;
	line-height: 2.4;
}
.cont .title {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	max-width: 200px;
	color: #607D8B;
}
.cont .opr {
	margin-top: 0;
    font-size: 0.9em;
    font-weight: 500;
    color: #ccc;
}
.cont .opr a {
	color: #35ac2f;
	text-decoration: none;
}
.download-file {
	position: absolute;
    bottom: 10px;
    right: 10px;
    filter: grayscale(1);
    opacity: 0.25;
}
.download-file:hover {
	filter: grayscale(0);
    opacity: 1;
}
.download-file > img {
	width: 25px;
}
.web_wechat_face.on{
	border: 1px solid #999;
	background-color: #ccc;
}
.web_wechat_image.on{
	border: 1px solid #999;
	background-color: #ccc;
}
.web_wechat_common_lan.on{
	border: 1px solid #999;
	background-color: #ccc;
}
.jt-com-lan-p{
	border-bottom:1px solid #aaa;
	cursor:pointer;
	padding:3px;
}
.jt-com-lan-p:hover{
	background-color:#999;
}
.jt-is-abnormal{
	color:red;
}
.nav-tabs>li>a {
	border-radius:0;
}
.time span{
	background-color: #eee;
    border-radius: 5px;
    padding: 0 10px;
    color: #9E9E9E;
    font-size: 0.9em;
}
.jt-video{
	cursor: pointer;
	width: 100px !important;
}
#myMenu{
	text-align: center;
	padding: 5px 0;
}
.detail-info-tab {margin: 0 !important;}
.detail-info-tab li {background: rgba(54, 121, 85, 0.49) !important;width:33.33%;}
.detail-info-tab li.active {background: transparent !important;}
.detail-info-tab li.active a,.detail-info-tab li:hover a,.detail-info-tab li.active:hover a,.detail-info-tab li.active a:focus {border-bottom: 0;color: #9de0d3;}
.detail-info-tab li a {background:transparent !important;color:#9de0d3;}
.detail-info-tab > li > a:hover, .detail-info-tab > li > a:focus {
    color: #9de0d3 !important;
}
#follow-button-field{
	line-height: 40px;
	font-weight: 600;
	font-size: 1.2em;
	padding: 8px 8px 0 8px;
    color: #ddd;
}
#follow-field{
	overflow: auto;
}
.weixin-csfollow{
	border: 1px solid #568858;
    margin: 14px 8px;
    box-shadow: 0px 0px 10px #4c7c3f;
    background: rgba(54, 121, 85, 0.49);
    height: 120px;
    line-height: 28px;
    border-radius: 5px;
}
.follow-div,.info-div{
	height: 28px;
}
.follow-div-title{
	float: left;
	width: 70px;
	text-align: right;
	margin-right: 5px;
	color: #c0e1f9;
}
.follow-div-content{
	float: left;
	font-weight: 600;
	max-width: 265px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	color: #ddd;
}
.jt-addr-addr{
	height: 28px;
	width:75%;
	    /*width: 300px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;*/
	    display: block;
	    line-height: 20px;
	    margin-top: 5px;
	}
	.info-div-content{
		float: left;
		font-weight: bold;
		/*width: 260px;*/
	    /*text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;*/
	    display: block;
	    color: #807f7f;
	}
	.more-info-div-content{
		float: left;
		width: 200px;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		overflow: hidden;
		color: #273a4a;
	}
	.weixin-csinfo-big{
		border: 1px solid #e7e7e7;
		height: 100%;
		width: 80%;
		margin:0 auto;
		border-bottom: transparent;
		border-top: transparent;
		background: #fff;
		overflow-x: hidden;
		position: relative;
	}
	.weixin-csinfo-big-clone{
		position: absolute;
		z-index: 0;
	}
	.weixin-csinfo-big::-webkit-scrollbar {width:4px;}
	.weixin-csinfo-big::-webkit-scrollbar-thumb {background-color:#cccccc;}
	.jt-cs-so-item-name{
		color: #777;
		float: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 91.666667%;
		overflow:hidden;
	}
	.jt-cs-so-items {
		line-height: 18px;
	}
	.jt-cs-so-item {
		display: inline-block;
		width:100%;
	}

	@media (max-width: 1330px){
		.follow-div-content{
			max-width: 150px;
		}
		.front .info-div-title {
			white-space: nowrap;
			margin-left:2.5%;
		}
	}
	.weixin-csinfo{
		position: absolute;
		transform-style: preserve-3d;
		transition: transform 1s;
		width: 96%;
		height: 100%;
		margin: 0px 2%;
		font-size: 0.9em;
	}
	.weixin-csinfo figure {
		border: 1px solid #b9b7b7;
		line-height: 28px;
		border-radius:5px;
		/*box-shadow: 0 2px 1px 0 #d1d1d1, 0 4px 1px -1px #cccccc, 0 6px 1px -2px #807b7b, 0 0 5px rgba(0, 0, 0, 0.1), 0 10px 20px rgb(162, 163, 167), 0 20px 4px -6px rgb(238, 238, 238);*/
		background-color: #fff;
		background: -webkit-radial-gradient(bottom left, ellipse, #fff, #eeeeee, #cccccc);
		padding:15px 0;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}
	.weixin-csinfo > figure : hover {
		cursor: pointer;
	}
	.weixin-csinfo .front {
	}
	.weixin-csinfo .back {
		transform: rotateY( 180deg );
		overflow: hidden;
	}    
	.flipped {
		transform: rotateY( 180deg );
	} 
	.weixin-csinfo : hover {
		cursor: pointer;
	}
	.weixin-csinfo  .main-info-div {
		background: #807f7f;
		color: #fff;
	}
	.weixin-csinfo .info-div-title {
		width:20%;
	}
	.info-div-title-more {
		width:25%;
		height:100%;
		float:left;
		text-align: right;
		padding-right: 5px;
		color: #807f7f;
	}
	.info-div-content-more {
		float:left;
		width:75%;
		overflow-y:auto;
		height: 120px;
	}
	.info-div-content-more .info-div-content {
		line-height: 20px;
		margin-top: 5px;
		font-size: 13.5px;
	}
	.info-div-content-more::-webkit-scrollbar {width:6px;}
	.info-div-content-more::-webkit-scrollbar-thumb {background-color:#eee;}
	.weixin-csinfo-small{
		/*border: 1px solid #3333335e;*/
		margin: 15px 8px 0 8px;
		height: 120px;
		/*line-height: 28px;*/
		clear: both;
	    /*border-radius:5px;
	    box-shadow: 0 0 10px #c8c8c8;
	    background-color: #ffffff75;*/
	    /*padding:5px 0;*/
	    z-index: 0;
	    position: relative;
	}
	
	.jt-addr-title {
		font-size:1.1em;
		/*font-weight: bold;*/
		/*padding-left: 10px;*/
	}
	.jt-addr-title > i {
		color :#1caf9a;
		margin-right: 10px;
	}

	.weixin-csinfo-small  .info-div-title,.weixin-csinfo  .info-div-title ,#csinfo-field-unbind .info-div-title{
		font-weight: normal;
	}

	.weixin-csinfo-small  .jt-cs-total-so-amount {
		font-weight: normal;
	}

	.info-div-title{
		float: left;
		text-align: right;
		/*margin-right: 5px;*/
		color: #807f7f;
	}
	.more-info-div-title{
		color: #273a4a;
		font-weight: bold;
	}
	.jt-cs-total-so-count ,.jt-cs-total-so-amount {
		font-weight: bold;
		color: #807f7f;
	}
	.jt-cs-total-so-count em,.jt-cs-total-so-amount em {
		color: #ef820e;
		font-style: normal;
		font-weight: bold;
	}
	.jt-sex-img{
		float: left;
		width: 18px;
		margin-left: 8px;
		padding-top: 4px;
	}
	.jt-ziliao-img-weixin{
		width: 20px;
		margin-right: 9px;
		padding-top: 7px;
		float: right;
		cursor: pointer;
		color:#fff;
	}
	.jt-cs-name{
		float: left;
		font-weight: 600;
		padding-left: 10px;
	}
	.jt-cs-nickname{
		float: left;
		font-size: 12px;
		padding-left: 10px;
	}
	.jt-cs-birth{
		
	}
	.jt-addr-title{
		clear: both;
	}
	.jt-addr-left{
		width: 0;
		height: 0;
		border-width: 15px;
		border-style: solid;
		border-color: transparent #676a6c transparent transparent;
		cursor: pointer;
		float: left;
		margin-top: 10px;
	}
	.jt-addr-right{
		width: 0;
		height: 0;
		border-width: 15px;
		border-style: solid;
		border-color: transparent  transparent transparent #676a6c;
		cursor: pointer;
		float: left;
		margin-top: 10px;

	}
	.jt-so-left,.jt-so-right {
		width: 10%;
	}
	.jt-so-left,.jt-so-right,.weixin-csinfo-big {
		height:100%;
	}
	.jt-so-left{
		float:left;
		background: -webkit-radial-gradient(bottom left, ellipse, #fff, #f8f8f8, #dedcdc);
		position: absolute;
		top: 0;
		left: 0;
		z-index:2;
	}
	.jt-so-right{
		float:right;
		background: -webkit-radial-gradient(bottom left, ellipse, #fff, #f8f8f8, #dedcdc);
		position:  absolute;
		z-index: 2;
		right: 0;

	}
	.jt-so-left:hover,.jt-so-left > span:hover,.jt-so-right:hover,.jt-so-right > span:hover {
		cursor: pointer;
	}
	.jt-so-left > span,.jt-so-right > span {
		width:25px;
		height:25px;
		display:block;
		margin: 65px auto;
		text-align:center;
		border-radius:20px;
		background:transparent;
		color: #bbb;
		border:1px solid #ccc;
		font-size:1.8em;
		line-height: 22px;
	}
	.jt-so-left > span {
		padding-right: 2.5px;
	}
	.jt-so-right > span {
		padding-left: 2.5px;
	}
	.jt-so-left.has > span:hover,.jt-so-right.has > span:hover {
		background:-webkit-radial-gradient(bottom left, ellipse, #f5bc7f, #fff, #f5bc7f);
		color:#f5bc7f;
		box-shadow:0 0 10px #f5bc7f;
	}
	.jt-so-right.has > span{
		color: #f5b26a;
	}
	.jt-so-left.has > span{
		color: #f5b26a;
	}
	.weixin-order-btn {
		position: absolute;
	    bottom: -45px;
	    right: 10%;
	    width: 80%;
	    height: 45px;
	    text-align: center;
	    padding-top: 5px;
	    background: rgba(51, 51, 51, .5);
	}
	.jt-addr-left .has{
		border-color: transparent #1ab394 transparent transparent;
	}
	.jt-addr-right .has{
		border-color: transparent transparent transparent #1ab394;
	}
	.jt-addr-content{
		float: left;
	}
	.jt-addr-name{
		padding: 0 20px;
		font-weight: 600;
		text-align: center;
	}
	.jt-cs-baseinfo{
		height: 28px;
		float: left;
		padding: 5px;
		background-color: transparent;
		color: #fff;
		border:1px solid #fff;
		border-radius: 5px;
		margin-left: 9px;
		margin-bottom: 5px;
		font-size: 0.9em;
	}
	.jt-cs-baseinfo span{
		font-weight: normal;
	}
	.jt-cs-baseinfo > span > i {
		color:#f8ac59;
	}
	#csinfo-field-binded{
		overflow: auto;
	}
	.jt-cs-so-sono {
		float: left;
		color: #1c84c6;
		font-weight: 600;
		cursor: pointer;
	}
	.jt-cs-so-time{
		float: left;
		color: #777;
	}
	
	.jt-order-number {
		width:100%;
		display: inline-block;
	}
	.jt-cs-so-label {
		float:left;
		font-weight: bold;
		color:#807f7f;
	}
	.jt-so-count-box {
		position:absolute;
		top: 0;
		right: 10px;
		width: 40px;
		height:25px;
		color:#fff;
		background-color: #58bfb1;
		text-align: center;
		font-weight: bold;
	}
	.jt-so-count-box > div {
		width:  0;
		height:  0;
		border: 12.5px solid;
		border-top-color: #58bfb1;
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		margin-left: 7px;
	}
	.jt-cs-so-item-count{
		color: #777;
		float: right;
		width: 12%;
		text-align: right;
	}
	.jt-cs-so-item-more{
		text-align: center;
		float: left;
		width: 100%;
	}
	.jt-cs-so-sum-count,.jt-cs-so-sum-amount{
		color: #ef820e;
	}
	.jt-cs-so-sum{
		width:100%;
		display: inline-block;
		font-weight: bold;
		color: #807f7f;
	}
	.jt-cs-baseinfo span{
		padding-left: 5px;
		color: #f8ac59;
	}
	.span{
		padding-left: 10px;
	}
	.jt-so-no-data{
		text-align: center;
		padding-top: 50px;
	}
	#more-cs-info-div {
		background-color: #1caf9a;
		border-radius: 5px;
		text-align: left;
		width: 320px;
		position: absolute;
		z-index: 29891015;
		display: none;
		line-height: 30px;
		opacity: 0.9;
		box-shadow: 0 0 20px #273a4a;
	}
	.more-cs-info-box {
		width:98%;
		height:96%;
		margin:1%;
		border-radius: 4px;
		padding:10px 0;
		background-color: #fff; 
	}
	.more-cs-info-box .more-info-div-title{
		float: left;
		text-align: right;
		margin: 0 7px 0 10px;
		color: ##273a4a;
	}
	.has-order{
		display: none;
	}
	.jt-label-img{
		width: 20px;
	}
	.jt-button-img{
		width: 18px;
		margin-bottom: 2px;
		margin-right: 2px;
	}
	.record-history-button{
		margin-left: 2px;
		margin-right: 2px;
	}
	.history-message-box .history-text{
		line-height: 2.4;
	}

	.jt-cs-baseinfo-div {
		display:inline-block;
	}

	.csinfo-button-field button {
		background:#1caf9a;
		color:#fff;
		border-color: #1caf9a;
		margin: 0 !important;
		padding: 2px !important;
	}

	#csinfo-field-unbind {
		position: relative;
		margin:10px 8px;
		z-index: 0;
	}

	.weixin-order-box {
		display:inline-block;
		border:1px solid #cccccc;
		background:#fff;
		margin:3px 8px;
		border-radius:20px;
		height:152px;
		width:96%;
		margin:5px 2%;
		position: relative;
		overflow:hidden;
		box-shadow: 0 2px 1px 0 #d1d1d1, 0 4px 1px -1px #cccccc, 0 6px 1px -2px #cccccc, 0 8px 1px -3px #cccccc, 0 10px 1px -4px #cccccc, 0 12px 1px -5px #cccccc, 0 14px 1px -6px #cccccc, 0 16px 1px -7px #cccccc, 0 18px 1px -8px #cccccc, 0 20px 1px -9px #cccccc, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 10px 20px rgb(204, 204, 204), 0 20px 4px -6px rgb(130, 128, 128), 0 45px 5px -5px rgba(0, 0, 0, 0.05), 0 35px 10px -5px rgba(0, 0, 0, 0.1), 0 25px 55px 5px rgba(0, 0, 0, 0.15);
	}
	.history-message-box {
		overflow-y:auto;
		height: 420px;
		background-color: #e9e9e9;
		width: 98%;
		margin-left:  1%;
	}
	.wx-transfer-1{background-color: #fbae5a;
	    padding: 10px 10px;
	    color: #fff;
	    border-top-left-radius: 4px;
   		border-top-right-radius: 4px;
	    width: 200px;
	    line-height: 1.5;
	}
	.wx-transfer-2{ 
		background-color: #fff;
	    font-size: 10px;
	    padding-left: 20px;
	    color: #999;
	    width: 200px;
	}
	.wx-transfer-take{cursor: pointer;}
	.history-message-box::-webkit-scrollbar {width:6px;}
	.history-message-box::-webkit-scrollbar-thumb {background-color:#ccc;}
	.jt-lager-img:hover {cursor: pointer;}

	.jt-audio {cursor:pointer;} 
	.jt-audio-box {height:33px;width:auto;min-width:120px;width: 140px;}
	.jt-audio {height: 33px;background-color: #fcfcfc;color: #9e9e9e;line-height: 33px;position: relative;border-radius: 3px;}
	.jt-audio > i {margin-left:5px;width:18px;height:30px;display:inline-block;} 
	.jt-audio > div {position:absolute;right:-25px;top:0;}
	.self .jt-audio {width: 140px;height: 33px;background-color: #b2e281;color: #9e9e9e;line-height: 33px;}
	.msg-employee-info{color: #999;margin-right: 40px;}
/*.jt-paper-box {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    position:absolute;
    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border: 1px solid #ccc;
    box-shadow:1px 1px 9px #c7c2c2;
    -webkit-border-bottom-right-radius: 60px 5px;
    
}

.jt-paper-box:before{
    content: '';
    width: 50px;
    height: 50px;
    top:0; right:0;
    position:absolute;
    z-index: -1;
    -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(-14px,20px)
                        skew(-20deg);
}
.jt-paper-box:after{
    content: '';
    width: 50px;
    height: 50px;
    top:0; left:0;
    position:absolute;
    z-index:-1;
    display: inline-block;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(12px,25px)
                           skew(20deg);
                           }*/

                           .jt-paper-box{
                           	min-height: 100px;
                           	width: 100%;
                           	padding: 10px;
                           	position:relative;
                           	background: -webkit-gradient(linear, 0% 2%, 0% 100%, from(#fff), to(#fff), color-stop(.2, #e6e5e5));
                           	border: 1px solid #ccc;
                           	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                           }

                           .jt-paper-box:before{
                           	content: '';
                           	width: 50px;
                           	height: 50px;
                           	top:0; right:0;
                           	position:absolute;
                           	z-index: -1;
                           	-webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
                           	-webkit-transform: rotate(2deg)
                           	translate(-14px,15px)
                           	skew(-15deg);
                           }
                           .jt-paper-box:after{
                           	content: '';
                           	width: 50px;
                           	height: 50px;
                           	top:0; left:0;
                           	position:absolute;
                           	z-index:-1;
                           	display: inline-block;
                           	-webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
                           	-webkit-transform: rotate(2deg)
                           	translate(12px,15px)
                           	skew(15deg);
                           }

                           .shr_box4{
                           	width: 100px;
                           	height: 100px;
                           	bottom:0; right:0;
                           	position:absolute;
                           	z-index: -1;
                           	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
                           	-webkit-transform: rotate(0deg)
                           	translate(-15px,-15px)
                           	skew(15deg);
                           }
                           .shl_box4{
                           	content: '';
                           	width: 100px;
                           	height: 100px;
                           	bottom:0; left:0;
                           	position:absolute;
                           	z-index: -1;
                           	-webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
                           	-webkit-transform: rotate(0deg)
                           	translate(15px,-15px)
                           	skew(-15deg);
                           }