<!-- 将关联实体的eav编程一个form表单 -->
<!DOCTYPE html>
<html>
<head>
    <#include "/common/common.html">
    <#include "/common/eav.html">
    <meta http-equiv="Cache-Control" content="max-age=1200" />
    <script>
        var ctx = "${ctx}";
        
        $(function(){
        	var param1 = {
        			bizType: "common", 
        			entityType: "jt_ou_res", 
        			entityTypeSelectId: "eavCommonEntityType", 
        			containerId: "commonEavContainner"
        	};
        	var eav = new Eav(param1);
        	
        	//获取属性集下拉列表
        	eav.getEavSetList("jt_ou_res", "entityType");
        	
        	$(document).on("change", "#entityType", function(){        		
        	    var eavSetKey = $("#entityType").val();
        	    console.log(eavSetKey);
        	    eav.setEntityId("79a3cc187f72492bb989ff05ccfb15d2");
        		eav.renderEavForm(eavSetKey, "commonEavContainner");
        	});
        	
        	$(document).on("click", ".btn", function(event){
        		var url = ctx + "/gl/eav/eav/save.htm";
        		$.ajax({
    				type : "POST", //表单提交类型 
    				url : url, 
    				contentType : "application/x-www-form-urlencoded",
    				dataType : "json",
    				data: eav.getEavParams(),
    				success : function(msg) {
    					if(msg.success){
    						showSuccess("成功", msg.msg);
    					}else{
    						showError("错误", msg.msg);
    					}
    				},
    				error : function(req, error, event) {
    					showError("错误", "网络错误，请稍候重试");
    				}
    			});
        		return false;
        	});
        });
    </script>
</head>

<body>
    <form>
        <!-- 给系统进行eav扩展 -->
        <h1>给系统的jt_ou_user进行eav扩展</h1>
        
        <select name='eavCommonEntityType' id='eavCommonEntityType'>
        </select>
        
        <button class='btn btn-sm   btn-primary'>保存</button>
        <hr>
        
        <div id='commonEavContainner'></div>
    </form>
</body>
</html>