<link href="${ctx}/css/plugins/dataTables/css/dataTables.bootstrap.css?v=${jsVersion}" rel="stylesheet">
<script src="${ctx}/js/plugins/dataTables/jquery.dataTables.js?v=${jsVersion}"></script>
<script src="${ctx}/js/plugins/dataTables/dataTables.bootstrap.js?v=${jsVersion}"></script>
<style type="text/css">
	table.dataTable thead .sorting_desc:after {
	    content: none;
	    float: none;
	    font-family: none;
	}
	.dataTables_wrapper {
	    padding-bottom: 0px; 
	}

	.modal-footer{
	    margin-top: 0px;
	}

	/*.table tbody tr.active td, .table tbody tr.active th {
	    color: #000;
	}*/

	/*.table tbody tr.active:hover td{
	    background-color: #ccc;
	}

	.table tbody tr.success:hover td{
	    background-color: #ccc ;
	}*/

	/*.table tbody tr.success:hover td:first-child{
	    background-color: #F0F0F0 !important;
	}

	.table tbody tr.active a {
	    color: #337ab7;
	}*/
	.table {
	  width:100% !important;
	}
</style>