<link rel="stylesheet" type="text/css" href="${ctx}/css/jt/common/selectbox${deploy_min!""}.css?v=${jsVersion}" />
<script src="${ctx}/js/jt/common/selectbox${deploy_min!""}.js?v=${jsVersion}"></script>
<!--效果html开始-->
<div class="selectbox">
<div class="select-bar">
    <select multiple="multiple" id="select1">
    </select>
</div>
<div class="btn-bar">
    <p><span id="add"><input type="button" class="btn" value=">" title="移动选择项到右侧"/></span></p>
    <p><span id="add_all"><input type="button" class="btn" value=">>" title="全部移到右侧"/></span></p>
    <p><span id="remove"><input type="button" class="btn" value="<" title="移动选择项到左侧"/></span></p>
    <p><span id="remove_all"><input type="button" class="btn" value="<<" title="全部移到左侧"/></span></p>
</div>
<div class="select-bar">
    <select multiple="multiple" id="select2"></select>
</div>	
</div>
<!--效果html结束-->
<div class="clear"></div>