<link rel="stylesheet" type="text/css" href="${ctx}/css/plugins/webuploader/webuploader.css?v=${jsVersion}">
<link rel="stylesheet" type="text/css" href="${ctx}/css/demo/webuploader-demo.css?v=${jsVersion}">
<link rel="stylesheet" type="text/css" href="${ctx}/css/demo/webuploader-demo3.css?v=${jsVersion}">
<script type="text/javascript" src="${ctx}/js/plugins/webuploader/webuploader.js?v=${jsVersion}"></script>
<script src="${ctx}/js/jt/common/service/JTWebUploader${deploy_min!""}.js?v=${jsVersion}"></script>
