    <!-- Ocx隐藏的HTML内容 -->
    <!-- 来电接听提示 -->
    <div id="ocxDivCallAlerting" class="CallAlertMain"  style="display:block;">
        <div class="mainbg">
        <div class="headTitle">
            <div class="headTitleImg"></div>
        </div>
        <div class="mainContent">
            <div class="CallAlertPhoto"><img /></div>
            <div class="rightInfoContent">
                <table id="customerCallInTb">
                    <tr>
                        <th>来电号码：</th>
                        <td><span id="ocxlblCallinCaller"></span></td>
                    </tr>
                    <tr>
                        <th>归属地：</th>
                        <td><span id="ocxlblLocalInfo"></span></td>
                    </tr>
                </table>
                <table id="seatCallInTb" style="display:none;">
                    <tr>
                        <th>来电坐席：</th>
                        <td><span id="ocxlblCallerUserName"></span></td>
                    </tr>
                    <tr>
                        <th>工号：</th>
                        <td><span id="ocxlblCallerUserCode"></span></td>
                    </tr>
                    <tr>
                        <th>分机：</th>
                        <td><span id="ocxlblCallerExtNumber"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="btnbar">
            <button id="ocxBtnAnswer1" keyid="Answer" class="btnAnswer1" type="button" style="display:none;" ></button>
            <button id="ocxBtnHugeUp1" keyid="Hangup" class="btnHugeUp1" type="button"></button>
        </div>
        </div>
    </div>