<link rel="stylesheet" href="${ctx}/js/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css?v=${jsVersion}" type="text/css">
<style>
	${jtDiyIconCss}   
</style>
<script>
	var ztreeIconStyle = "${ztreeIconStyle}";
</script>
<script src="${ctx}/js/plugins/zTree_v3/js/jquery.ztree.all-3.5.min.js?v=${jsVersion}"></script>
<script src="${ctx}/js/jt/common/utils/ztreeUtils${deploy_min!""}.js?v=${jsVersion}"></script>
<script src="${ctx}/js/jt/common/service/selectZtreeIcon${deploy_min!""}.js?v=${jsVersion}"></script>