<!DOCTYPE html>
<html>

<head>
	<title>CTI员工统计管理</title>
	<#include "/common/common.html">
	<#include "/common/ztree.html">
	<script src="${ctx}/js/plugins/echarts/3.1.7/theme/macarons.js?v=${jsVersion}"></script>
	<script src="${ctx}/js/plugins/echarts/3.1.7/echarts.min.js?v=${jsVersion}"></script>
	<script src="${ctx}/js/jt/common/plugins/report${deploy_min!""}.js?v=${jsVersion}" ></script>
	<script src="${ctx}/js/jt/crm/report/reportDateUtil${deploy_min!""}.js?v=${jsVersion}" ></script>
	<script src="${ctx}/js/jt/common/utils/groupUtils${deploy_min!""}.js?v=${jsVersion}"></script>	
	<link href="${ctx}/css/plugins/select2/select2.min.css?v=${jsVersion}" rel="stylesheet">
	<script src="${ctx}/js/plugins/select2/select2.min.js?v=${jsVersion}"></script>
	<script src="${ctx}/js/jt/ec/rp/rpCti${deploy_min!""}.js?v=${jsVersion}" ></script>
</head>

<body>
	<div class="wrapper animated fadeInRight">
		<!-- list界面 -->
		<div class="row list_wrapper">
			<#include "/ec/rp/rpCti/rpCtiToolbar.html">	  			
			<div class='col-sm-12 jqGrid_wrapper'>
			    <table id="rpCtiGrid"></table>
				<div id="rpCtiPager"></div>
			</div>
		</div>
	</div>
</body>
</html>