/* body{
	margin: 0;
	padding: 0;
}

.main{
	width: 80%;
	margin: 30px auto;
}

.time-axis{
	margin: 0;
	padding: 0;
	position: relative;
}

.time-axis:before{
	content: '';
	position: absolute;
	left: 93px;
	top: 15px;
	width: 1px;
	height: 100%;
	background-color: #E4E4E4;
}
.time-axis-item{
	list-style: none;
	padding-left: 150px;
	position: relative;
	line-height: 45px;
	font-size: 14px;
	color: #141414;
	width:800px;
}
.time-axis-achievement{
	margin: 0;
}
.time-axis-date{
	position: absolute;
	left: -60px;
	top: 0;
	color: #666;
}

.time-axis-date span{
	position: absolute;
	right: -49px;
	top: 35%;
	display: block;
	width: 13px;
	height: 13px;
	border: 1px solid #ccc;
	border-radius: 100%;
	background-color: #fff;
}
.time-axis-date span:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 7px;
	height: 7px;
	margin: auto;
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 100%;
}

.time-axis-item:first-child .time-axis-date span{
	border-color: #48BEB2;
}

.time-axis-item:first-child .time-axis-date span:after{
	background-color: #48BEB2;
	border-color: #48BEB2;
}



 */




 #queryContext {
		    z-index: 3;
		}

		.query-box {
		    float: left;
		    margin-bottom: 10px;
		}
		.result-info {
		    width: 600px;
		    float: left;
		}
		table {
		    border-collapse: collapse;
		    border-spacing: 0;
		}
		.result-info td {
		    padding: 7px;
		    color: #828282;
		}
		.day {
		    display: block;
		    color: #ccc;
		}
		.time {
		    font-size: 14px;
		}
		.context {
		    font-size: 14px;
		    padding-left: 0px !important;
		}
		.result-info .last td, .result-info .last td a {
			color: #ff7800;
			border-bottom: none;
		}
		.result-info .row1 {
			width: 105px;
			text-align: center;
			padding-left: 14px;
			padding-right: 0;
		}
		.result-info .status {
		    width: 40px;
		    background: url(${ctx}/img/jt/spider_search_v4.png) 13px -764px no-repeat;
		}
		.result-info .status-check {
		    background: url(${ctx}/img/jt/spider_search_v4.png) 10px -717px no-repeat;
		}
		.result-info .status-wait {
		    background: url(${ctx}/img/jt/spider_search_v4.png) -30px -802px no-repeat;
		}
		.result-info .status-first {
		    background: url(${ctx}/img/jt/spider_search_v4.png) 13px -804px no-repeat;
		}
		.status .col2 {
		    position: relative;
		    z-index: -1;
		}
		.status .line1 {
		    position: absolute;
		    left: 6.4px;
		    width: 0.57em;
		    height: 4em;
		    border-right: 0.08em solid #d2d2d2;
		    top: -5px;
		    z-index: -1;
		}
