<div class="middle-box text-center loginforcePw  animated fadeInDown">
    <div>
    	<br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>
            <h1 class="logo-name"></h1>
        </div>
        <h3>修改密码</h3>
        <form id="forcePwForm" class="m-t" role="form" >
            <div class="form-group">
	    		<input type="password" name="oldPassword" class="form-control" placeholder="请输入新密码" validateType='default'>
		    </div>
		    <div class="col-sm-12" style=" height:10px;" ></div>
		    <div class="form-group">
		        <input type="password" class="form-control" placeholder="请重新输入密码" name="newPassword" validateType='default'>
		    </div>
		    <div class="form-group">
				<span class="errorinfo" style="color:red;"></span>
		    </div>
             <input name='userId'   id='userId'  type="hidden">
		    <button type="button" id="forceChangePwBtn" class="btn btn-sm   btn-primary block full-width m-b ">确认修改</button>
        </form>
    </div>
</div>
