<div style="display:none"  class="mySaleStatusLayer">
	<div class="mySaleStatusDiv">
		<label style="font-size: 15px;line-height: 33px;font-weight: 300;color: #281f1f;padding-left: 20px;padding-top: 5px;">通话数据</label>
	</div>
	<div class="col-sm-5">
		<label class="mySaleStatusLabel"><span>通话时长：</span><span id="talkTime"></span></label><br>
	</div>
	<div class="col-sm-5">
		<label class="mySaleStatusLabel"><span>有效通话：</span><span id="effectiveTalkTimeNum"></span> / <span></span><span id="effectiveTalkTime"></span></label>
	</div>
	<br><br>

	<div class="mySaleStatusDiv">
		<label style="font-size: 15px;line-height: 33px;font-weight: 300;color: #281f1f;padding-left: 20px;padding-top: 5px;">业绩数据</label>
	</div>
	<div style="width: 95%;padding-left: 20px;" id='saleOrderDiv'></div>
</div>