	<div class="panel-body" style="height:450px">
		<br>
		<form id="versionTipForm" method="get" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">版本号：</label>
				<div class="col-sm-8">
					<input type="text" id="version" class="form-control"> 
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">版本标签：</label>
				<div class="col-sm-8">
					<input type="text" id="versionTags" class="form-control"> 
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">版本概述：</label>
				<div class="col-sm-8">
					<textarea  id="versionDesc" class="form-control" rows="5"></textarea>
				</div>
			</div>
			<br/>
			<div class='col-sm-11' id="versionItemDiv" style="margin-left:30px;"></div>
		</form>
	</div>	
	<br>
	<div class="col-sm-3 pull-right">
		<button type='button' id='preVersion' class="btn btn-sm   btn-primary pull-right" style="margin-right: 15px;">下一版本</button>
		<button type='button' id='nextVersion' class="btn btn-sm   btn-primary pull-right" style="margin-right: 15px;">上一版本</button>
	</div>
	

